/* GitHub Fork */
@media (max-width: 600px) {
  .gh-fork {
    display: none;
  }
}

/* Main */
#wrapper {
  margin: 0 100px;
}
.content {
  width: 340px;
  margin: 0 auto;
}
.content h1 {
  margin: 10px auto;
  width: 264px;
  font-size: 1.4em;
}

/* Form */
.hs-form {
  background: #F3F4FD;
  width: 339px;
  padding: 10px;
  border: 1px solid #c7c7c7;
  margin-bottom: -1px;
}
.saveUsername {
  margin: 0 120px;
}
#getUsername label {
  font-weight: normal;
  width: 120px;
  text-align: right;
}
#getUsername select {
  margin-left: 2px;
}

/* Table */
#rs-hiscores {
  border: 1px solid #c7c7c7;
  font-size: 13px;
}

#rs-hiscores th {
	padding: 7px;
	border: 1px solid #c7c7c7;
	text-align: center;
}

#rs-hiscores td {
	border: 1px solid #c7c7c7;
	padding: 2px 4px;
}
#rs-hiscores td:nth-child(2),
#rs-hiscores td:nth-child(3),
#rs-hiscores td:nth-child(4) {
	text-align: right;
}

#rs-hiscore-data tr:nth-child(odd) {
    background: #fff;
}
#rs-hiscore-data tr:nth-child(even) {
    background: rgba(233, 234, 252, 0.48);
}

.rshs-table-header {
	background: rgba(232, 181, 18, 0.42);
}

.rshs-table-skill-name {
	width: 120px;
}
.rshs-table-rank {
	width: 70px;
}
.rshs-table-level {
	width: 30px;
}
.rshs-table-xp {
	width: 100px;
}

/* Footer */
footer {
  font-size: 10px;
  margin: 5px auto;
  text-align: center;
}

/* Icons */
.iconHiscores {
	background-size: contain !important;
	float: left;
	height: 12px;
	margin: 3px 3px 3px 0;
	width: 12px;
}
.iconOverall {
  	background: url('/img/overall.gif') no-repeat;
}
.iconAttack {
  	background: url('/img/Attack-icon.png') no-repeat;
}
.iconDefence {
  	background: url('/img/Defence-icon.png') no-repeat;
}
.iconStrength {
  	background: url('/img/Strength-icon.png') no-repeat;
}
.iconConstitution {
  	background: url('/img/Constitution-icon.png') no-repeat;
}
.iconRanged {
  	background: url('/img/Ranged-icon.png') no-repeat;
}
.iconPrayer {
  	background: url('/img/Prayer-icon.png') no-repeat;
}
.iconMagic {
  	background: url('/img/Magic-icon.png') no-repeat;
}
.iconCooking {
  	background: url('/img/Cooking-icon.png') no-repeat;
}
.iconWoodcutting {
  	background: url('/img/Woodcutting-icon.png') no-repeat;
}
.iconFletching {
  	background: url('/img/Fletching-icon.png') no-repeat;
}
.iconFishing {
  	background: url('/img/Fishing-icon.png') no-repeat;
}
.iconFiremaking {
  	background: url('/img/Firemaking-icon.png') no-repeat;
}
.iconCrafting {
  	background: url('/img/Crafting-icon.png') no-repeat;
}
.iconSmithing {
  	background: url('/img/Smithing-icon.png') no-repeat;
}
.iconMining {
  	background: url('/img/Mining-icon.png') no-repeat;
}
.iconHerblore {
  	background: url('/img/Herblore-icon.png') no-repeat;
}
.iconAgility {
  	background: url('/img/Agility-icon.png') no-repeat;
}
.iconThieving {
  	background: url('/img/Thieving-icon.png') no-repeat;
}
.iconSlayer {
  	background: url('/img/Slayer-icon.png') no-repeat;
}
.iconFarming {
  	background: url('/img/Farming-icon.png') no-repeat;
}
.iconRunecrafting {
  	background: url('/img/Runecrafting-icon.png') no-repeat;
}
.iconHunter {
  	background: url('/img/Hunter-icon.png') no-repeat;
}
.iconConstruction {
  	background: url('/img/Construction-icon.png') no-repeat;
}
.iconSummoning {
  	background: url('/img/Summoning-icon.png') no-repeat;
}
.iconDungeoneering {
  	background: url('/img/Dungeoneering-icon.png') no-repeat;
}
.iconDivination {
  	background: url('/img/Divination-icon.png') no-repeat;
}
