<template name="fetchStats">	
	<fieldset class="hs-form">
		<form id="getUsername">
			<label>Username:</label>
			<input id="username" name="username" class="rshs-username" type="text" required="true" tabindex="1" /><br />
			<label>Game version:</label>
			<select id="game" name="game" required="true" tabindex="2">
			  	<option value="rs3">RuneScape 3</option>
			  	<option value="osrs">Oldschool RuneScape</option>
			</select>
			<input type="button" class="saveUsername btn btn-primary" value="Get stats!" tabindex="3" />
		</form>
	</fieldset>
</template>